.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #999; 
    background-color: white;
    border: 1px solid #0b0b0b; 
    border-radius: 0px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .submit-button:hover {
    border-color: #888;
    color: #666;
  }
  
  