.image-card {
    width: 180px;
    margin: 10px;

    flex: 0 0 calc (25% - 20px);
    box-sizing: border-box;
  }
  
  .image-placeholder {
    width: 100%;
    height: 240px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  
  .image-card h4 {
    margin: 0;
    font-weight: bold;
  }
  
  .image-card p {
    margin: 0;
    font-size: 14px;
    color: #444;
  }